#.idea/Academic-Collaboration-RS.iml
#.idea/deployment.xml
#.idea/misc.xml
/back-end/utils/dao/db_connector.py
/back-end/res/model/
/doc/EECT-2023
/doc/CNIOT-2023
/doc/SMC-2023
/doc/专利
/doc/项目管理
/doc/展板

jupyter.log
