#.idea
/back-end/utils/dao/db_connector.py
/back-end/res/model/glove.6B.50d.txt
/back-end/res/model/glove.6B.100d.txt
/back-end/res/model/glove.6B.200d.txt
/back-end/res/model/glove.6B.300d.txt
/back-end/res/model/glove.6B.300d.txt.pt
/back-end/res/model/glove.6B.zip
